
@font-face {
    font-family: "Montserrat-bold";
    src: url("./fonts/Montserrat/static/Montserrat-Bold.ttf");
}
@font-face {
    font-family: "Montserrat-regular";
    src: url("./fonts/Montserrat/static/Montserrat-Regular.ttf");
}
@font-face {
    font-family: 'Roboto-light';
    src: url('./fonts/Roboto/Roboto-Light.ttf');
}